$font-color: #EEEFFE;

$item-color: #6da18a;
$class-color: #546799;
$race-color: #f0ebc0;
$skill-color: #bf6979;
$misc-color: #d99f82;
$neutral-color: #181818;

$white: #FFFFFF;
$black: #000000;

$bg-color: #363636;
$bg-color-transparent: #363636BB;

$panel-small: 200;
$panel-medium: 360;
$panel-large: 540;

$panel-colors: (
  "item": $item-color,
  "class": $class-color,
  "race": $race-color,
  "skill": $skill-color,
  "misc": $misc-color,
  "white": $white,
  "black": $black,
  "normal": $bg-color,
  "neutral": $neutral-color
);

$panel-sizes: ("small": $panel-small, "medium": $panel-medium, "large": $panel-large);

body {
  background-color: $bg-color;
  color: $font-color;
}

.wall {
  position: absolute;
  width: 100%;
  height: 100vh;
}
  
.panel {
  position: absolute;
  margin: 10px;
  text-align: left;
  overflow: hidden;
  transition: background-color .4s;
}

.panel:hover {
  background-color: lighten($bg-color, 10%);
}

.panel__title {
  text-align: center;
  font-style: italic;
}

.panel__full {
  display: none;
}

.panel__text--small {
  font-size: .75em;

  h3 {font-size: 1.25em;}
  h4 {font-size: 1.1em;}
  h5 {font-size: 1.05em;}
}

.panel__type, .panel__uses {
  text-transform: lowercase;
  font-weight: 700;
  border-radius: 8px;
  padding: 0 8px 0 8px;
}

.backdrop--opaque {
  background-color: lighten($bg-color, 20%);
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  transition: background .66s;
}

// .panel__content--fade-out {
//   box-shadow: inset 0px -32px 16px 0px $bg-color-transparent;
// }

// .panel:hover .panel__content--fade-out {
//   box-shadow: inset 0px -32px 16px 0px lighten($bg-color, 10%);
// }

/* UTILITY CLASSES */

@each $size, $value in $panel-sizes {
  .width--#{$size} {
    width: #{$value}px;
  }
  
  .height--#{$size} {
    height: #{$value}px;
  }

  .border--#{$size} {
    border-style: solid;
    border-width: #{$value/200}px;
  }
}

@each $name, $color in $panel-colors {
  .color--text--#{$name} {
    color: $color;
  };
  
  .color--bg--#{$name} {
    background-color: $color;
  };

  .color--border--#{$name} {
    border-color: $color;
  }
}  

.bottom--0 {
  bottom: 0;
}

.left--0 {
  left: 0;
}

.right--0 {
  right: 0;
}

.top--0 {
  top: 0;
}

.enforced-height--max {
  min-height: calc(100vh - 56px);
}

/* BOOTSTRAP OVERRIDES */

body {
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}

.card {
  position: absolute;
  background-color: $bg-color-transparent;
}

.modal-content {
  background-color: $bg-color;
}