body {
  background-color: #363636;
  color: #EEEFFE;
}

.wall {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.panel {
  position: absolute;
  margin: 10px;
  text-align: left;
  overflow: hidden;
  transition: background-color 0.4s;
}

.panel:hover {
  background-color: #505050;
}

.panel__title {
  text-align: center;
  font-style: italic;
}

.panel__full {
  display: none;
}

.panel__text--small {
  font-size: 0.75em;
}
.panel__text--small h3 {
  font-size: 1.25em;
}
.panel__text--small h4 {
  font-size: 1.1em;
}
.panel__text--small h5 {
  font-size: 1.05em;
}

.panel__type, .panel__uses {
  text-transform: lowercase;
  font-weight: 700;
  border-radius: 8px;
  padding: 0 8px 0 8px;
}

.panel__content--fade-out {
  box-shadow: inset 0px -32px 16px 0px #363636BB;
}

.panel:hover .panel__content--fade-out {
  box-shadow: inset 0px -32px 16px 0px #505050;
}

/* UTILITY CLASSES */
.width--small {
  width: 200px;
}

.height--small {
  height: 200px;
}

.border--small {
  border-style: solid;
  border-width: 1px;
}

.width--medium {
  width: 360px;
}

.height--medium {
  height: 360px;
}

.border--medium {
  border-style: solid;
  border-width: 1.8px;
}

.width--large {
  width: 540px;
}

.height--large {
  height: 540px;
}

.border--large {
  border-style: solid;
  border-width: 2.7px;
}

.color--text--item {
  color: #6da18a;
}

.color--bg--item {
  background-color: #6da18a;
}

.color--border--item {
  border-color: #6da18a;
}

.color--text--class {
  color: #546799;
}

.color--bg--class {
  background-color: #546799;
}

.color--border--class {
  border-color: #546799;
}

.color--text--race {
  color: #f0ebc0;
}

.color--bg--race {
  background-color: #f0ebc0;
}

.color--border--race {
  border-color: #f0ebc0;
}

.color--text--skill {
  color: #bf6979;
}

.color--bg--skill {
  background-color: #bf6979;
}

.color--border--skill {
  border-color: #bf6979;
}

.color--text--misc {
  color: #d99f82;
}

.color--bg--misc {
  background-color: #d99f82;
}

.color--border--misc {
  border-color: #d99f82;
}

.color--text--white {
  color: #FFFFFF;
}

.color--bg--white {
  background-color: #FFFFFF;
}

.color--border--white {
  border-color: #FFFFFF;
}

.color--text--black {
  color: #000000;
}

.color--bg--black {
  background-color: #000000;
}

.color--border--black {
  border-color: #000000;
}

.color--text--normal {
  color: #363636;
}

.color--bg--normal {
  background-color: #363636;
}

.color--border--normal {
  border-color: #363636;
}

.color--text--neutral {
  color: #181818;
}

.color--bg--neutral {
  background-color: #181818;
}

.color--border--neutral {
  border-color: #181818;
}

.bottom--0 {
  bottom: 0;
}

.left--0 {
  left: 0;
}

.right--0 {
  right: 0;
}

.top--0 {
  top: 0;
}

/* BOOTSTRAP OVERRIDES */
body {
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}

.card {
  position: absolute;
  background-color: #363636BB;
}

.modal-content {
  background-color: #363636;
}

/*# sourceMappingURL=style.css.map */
