$font-color: #EEEFFE;

$item-color: #6da18a;
$character-color: #546799;
$lore-color: #f0ebc0;
$story-color: #bf6979;
$misc-color: #d99f82;
$neutral-color: #181818;

$white: #FFFFFF;
$black: #000000;

$bg-color: #363636;
$bg-color-transparent: #363636BB;

$panel-small: 200;
$panel-medium: 360;
$panel-large: 540;

$panel-colors: ("item": $item-color,
  "character": $character-color,
  "lore": $lore-color,
  "story": $story-color,
  "misc": $misc-color,
  "white": $white,
  "black": $black,
  "normal": $bg-color,
  "neutral": $neutral-color);

$panel-sizes: ("small": $panel-small, "medium": $panel-medium, "large": $panel-large);

body {
  color: $font-color;
}

.wall {
  position: absolute;
  width: 100%;
  min-height: 90vh;
  background-image: url("../assets/60-lines.png");
}

.panel {
  position: absolute;
  margin: 10px;
  text-align: left;
  overflow: hidden;
  transition: background-color .4s;
}

.panel:hover {
  background-color: lighten($bg-color, 10%);
}

.panel__title {
  text-align: center;
  font-style: italic;
}

.panel__full {
  display: none;
}

.panel__body {
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  overflow-y: hidden;
}

.panel__text--small {
  font-size: .75em;

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 1.05em;
  }
}

.panel__type,
.panel__uses {
  text-transform: lowercase;
  font-weight: 700;
  border-radius: 8px;
  padding: 0 8px 0 8px;
}

.backdrop--opaque {
  background-color: lighten($bg-color, 20%);
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  transition: background .66s;
}

.nav__main {
  font-size: 1.25em;
}

.nav__title {
  font-size: 1.5em;
  width: 20%;
  text-align: center;

  @media (min-width: 721px) {
    width: 15%;
  }
}

.nav__wall-info {
  width: 80%;
    
  @media (min-width: 721px) {
    width: 40%;
  }
}

.nav__wall-search {
  width: 100%;
  margin: auto;
  padding: 0;

  input {
    width: calc(720px - 4em);
    max-width: 90%;
    height: 2em;
    display: inline-block;
  }

  .nav__wall-search__button {
    padding: 0;
    height: 2em;
    width: 2em;
  }
  
  @media (min-width: 721px) {
    width: 45%;

    input {
      width: calc(90% - 4em);
    }
  }

}


/* UTILITY CLASSES */

@each $size,
$value in $panel-sizes {
  .width--#{$size} {
    width: #{$value}px;
  }

  .height--#{$size} {
    height: #{$value}px;
  }

  .border--#{$size} {
    border-style: solid;
    border-width: #{$value/200}px;
  }
}

@each $name,
$color in $panel-colors {
  .color--text--#{$name} {
    color: $color;
  }

  .color--bg--#{$name} {
    background-color: $color;
  }

  .color--border--#{$name} {
    border-color: $color;
  }

  .filter--#{$name} {
    border-color: $color;
    background-color: $color;

    &:hover {
      background-color: darken($color, 10%);
    }

    &:focus {
      font-style: italic;
      background-color: $bg-color;
      border-color: $color !important;
      border-width: 2px;
    }
  }
}

.bottom--0 {
  bottom: 0;
}

.left--0 {
  left: 0;
}

.right--0 {
  right: 0;
}

.top--0 {
  top: 0;
}

.enforced-height--80p {
  height: 80%;
}

.enforced-height--max {
  min-height: calc(100vh - 56px);
}

/* TODO this will have to rethought to be more generic */
.height--large {
  .panel__body {
    max-height: 375px;
  }
}

.height--medium {
  .panel__body {
    max-height: 230px;
  }
}

.height--small {
  .panel__body {
    max-height: 80px;
  }
}

/* BOOTSTRAP OVERRIDES */

nav {
  background-color: $bg-color;
}

.card {
  position: absolute;
  background-color: $bg-color-transparent;
}

.modal-content {
  background-color: $bg-color;
}

.modal-footer {
  justify-content: flex-start;
}